<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'account_list' %}">Account list</a></li>
                    <li><a href="{% url 'category_list' %}">Category list</a></li>
                    <li><a href="{% url 'create_account' %}">Create account</a></li>
                    <li><a href="{% url 'create_category' %}">Create category</a></li>
                    <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
                    <li><a href="{% url 'home' %}">Receipt list</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'login' %}"></a>Login</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.number}}</td>
                    <td>{{ item.receipts.count}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
